<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DDFSuite">	
	<parameter name="configFile" value="config.properties"/>
	<test name="TestDDF">
		<classes>			

			<class name="org.title21.test.LoginPage_Test"/>
			<class name="org.title21.test.LogoutPage_Test"/>
			<!--class name="org.title21.test.AddEmployee_Test"/-->
			<!--class name="org.title21.test.Wizard" /-->
			<class name="org.title21.test.AdministratonPage_Test"/>
			<!-- class name="org.title21.test.CreateGroup_Test"/-->
		
		</classes>
	</test>
</suite>
